* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
#footer-title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.social-media-logos{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.logo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 5px;
}
#facebook-logo{
  width: 48px;
  height: 48px;
  margin-top: -2px;
}
.logo:hover{
  opacity: 0.7;
}
